.myFoot{

    background-color: rgba(233, 226, 219, 0);
    border-radius: 100px;
    /* width: ; */
    width:100%;
    height: 15px;
    position:absolute;
left:0;
bottom:0;
right:0;
padding-bottom:6px;

}